<div id="new_role" data-age="new" class="{{ data.widgetPrefix }}_role modal-body__inner__todo-types__item new js-animate js-new-todo-custom-type js-item-animate">
    <input data-value="_leere" name="new" class="{{ data.widgetPrefix }}_role modal-body__inner__groups__item__input js-custom-type-item text-input" type="text" value="" placeholder="Название роли" maxlength="32" data-placeholder="Название роли" autocomplete="off">
    <span id="del_todo_typenull" class="button-delete modal-body__inner__todo-types__item__remove js-remove-todo-type-item">
        <span class="icon icon-delete-trash"></span>
    </span>
</div>