<div class="{{ data.widgetPrefix }}_addrole_wrapper list__top__actions" style="order: 4;">
    <button type="button" class="button-input button-input_blue" id="{{data.id}}">
        <span class="button-input-inner">          
            <span class="button-input-inner__text">Добавить роль</span>
        </span>
    </button>
</div>