<div>
    <span class="modal-body__close">
        <span class="icon icon-modal-close icon-modal-close-gigant"></span>
    </span>
    <p class="modal-body__innner__message-success" style="margin-bottom: 25px;">Вы уверены, что хотите закончить смену?</p>
    <div class="modal-body__actions ">
        <button type="button" class="button-input js-modal-denied_work js-button-with-loader modal-body__actions__save button-input_blue" tabindex="1">
            <span class="button-input-inner">
                <span class="button-input-inner__text">
                    Да
                </span>
            </span>
        </button>
        <button type="button" class="button-input button-cancel" tabindex="2" style="">
            <span>
                Нет
            </span>
        </button>
    </div>
</div>