<div>
    <div class="modalDist_content__wrapper">
        <p class="modal-body__innner__message-success modalDist__innner__tittel">Укажите ID роли</p>
        <input type="text" class="modalDist_input">
    </div>
    <div class="modal-body__actions">
        <button type="button" class="button-input js-modal-accept js-button-with-loader modal-body__actions__save button-input_blue" tabindex="1">
            <span class="button-input-inner">
                <span class="button-input-inner__text">
                    Готово
                </span>
            </span>
        </button>
        <button type="button" class="button-input button-cancel" tabindex="2" style="">
            <span>
                Отменить
            </span>
        </button>
    </div>
</div>