<div class="pagination__rows-label">
    <p>Отображать строк:</p>
</div>
<div class="pagination__rows-select">
    <div class="control--select " style="">
        <ul class="custom-scroll control--select--list" style="">
            <li data-value="25" data-color="" class="control--select--list--item control--select--list--item-selected" style="">
                <span class="control--select--list--item-inner" title="25">25</span>
            </li>
            <li data-value="50" data-color="" class="control--select--list--item    " style="">
                <span class="control--select--list--item-inner" title="50">50</span>
            </li>
            <li data-value="100" data-color="" class="control--select--list--item    " style="">
                <span class="control--select--list--item-inner" title="100">100</span>
            </li>
            <li data-value="200" data-color="" class="control--select--list--item    " style="">
                <span class="control--select--list--item-inner" title="200">200</span>
            </li>
        </ul>
        <button class="control--select--button    " tabindex="" type="button" data-value="25">
            <span class="control--select--button-inner">25</span>
        </button>
        <input type="hidden" class="control--select--input js-pagination-rows-input" name="" value="25" data-prev-value="25">
    </div>
</div>