<div class="{{ data.widgetPrefix }}_search_wrapper list-top-search  list-top-search-responsive" id="search_input_wrapper" style="flex: none; width: 80%;">
    <div class="list-top-search__input-wrapper">
        <div class="list-top-search__input-block">
            <input type="text" class="list-top-search__input" id="{{ data.widgetPrefix }}_search_input" placeholder="Поиск и фильтр" spellcheck="false" autocomplete="off">
        </div>
    </div>
    <label for=""><svg class="list-top-search__icon svg-icon svg-common--filter-search-dims"><use xlink:href="#common--filter-search"></use></svg></label>
</div>